.h12{
    margin-top: 4vw;
    font-family: gilroy;
    font-size: 1.5vw;
    color: white;
    margin-right: 2.3vw;
    text-align: center;
}

.task{
    margin-top: 1vw;
    color: white;
    margin-top: 1vw;
    gap: 1vw;
}

.cross{
    cursor: pointer;
}

.li2{
    background-color: white;
    width: 26vw;
    margin-right: 2vw;
    height: 6vh;
    margin-top: 1vw;
    display: flex;
    color: black;
    border-radius: 1vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    
}