.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}
.main{
  width: 100%;
  max-height: max-content;
  display: flex;
  justify-content: center !important; 
  align-items: center;
}
.page1{
  width: 40vw;
  border-radius: 1vw;
  max-height: fit-content;
  display: flex;
  margin-top: 5vw;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(23, 14, 105);
}
.page1::-webkit-scrollbar {
  width: 10px;
}

.page1::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.page1::-webkit-scrollbar-thumb {
  background: #888; 
}

.page1::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.h1{
  font-size: 2.5vw;
  font-family: gilroy;
  color: white;
  margin-top: 2vw;
}
.App2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  height: 10vh;
  background-color: #82becf;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App1{
  display: flex;
  justify-content: center;
  align-items: center;
}